<mat-tab-group mat-align-tabs="center"
[selectedIndex]='selectedIndex'
>
  <mat-tab label="Delivery">
    <app-delivery (activeTabs)="checkActiveTabe($event)" (changeTab)="changeSelectedTab($event)"></app-delivery>

  </mat-tab>
  <mat-tab [disabled]='activeTab' label="Shipping">
    <app-payment (changeTab)="changeSelectedTab($event)" ></app-payment>
  </mat-tab>
  <mat-tab [disabled]='activeTab' label="Payment">
    <app-shipping (changeTab)="changeSelectedTab($event)"></app-shipping>
  </mat-tab>
</mat-tab-group>