.payment-container{
    display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        .container{
            width: 50%;
        }
        mat-card {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        mat-radio-button{
            display: block;
            margin-bottom: 10px;
        }
        .full-width{
            width: 100%;
            margin-bottom: 10px;
        }

        .buttons-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px 0px;
            .next-button{
                background-color: #3f51b5;
                color: white;
            }
        }
}